src/main/app/2-newhire-export-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
	xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd">
    <flow name="SINGLE-RUN-PER-CUSTOMER">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/singlerun" doc:name="HTTP"/>
        <flow-ref name="NEWHIRE-EXTRACT-CANDIDATES" doc:name="NEWHIRE-EXTRACT-CANDIDATES"/>
    </flow>
<flow name="NEWHIRE-EXTRACT-CANDIDATES" initialState="started" processingStrategy="synchronous">
        <flow-ref name="GET-CANDIDATE-NEWHIRES" doc:name="GET-CANDIDATE-NEWHIRES"/>
        <flow-ref name="PROCESS-NEWHIRES" doc:name="PROCESS-NEWHIRES"/>
        <catch-exception-strategy enableNotifications="false" logException="false" doc:name="Catch Exception Strategy">
            <logger message="#[exception.info.Element]  #[exception.message]" level="INFO" doc:name="Logger"/>
            <set-payload value="This is the ERROR that was encountered:#[java.lang.System.lineSeparator()] Location: #[exception.info.Element]  #[java.lang.System.lineSeparator()] Exception:  #[exception.message] #[java.lang.System.lineSeparator()] #[java.lang.System.lineSeparator()] ApplicationName: jobvite-standard-ultipro-onboard-newhire-export" doc:name="Set Payload"/>
 
        </catch-exception-strategy>
    </flow></mule>
