src/main/app/jobvite-ultipro-customfields-import-wrapper.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
  xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
  <flow name="POLL-ULTI-PRO-CUSTOM-FIELDS">
    <http:listener config-ref="HTTP_Listener_Configuration" path="/ultipro-custom-fields/" doc:name="HTTP"/>
    <set-variable variableName="companyCode" value="#[message.inboundProperties.'http.query.params'.companyCode]" doc:name="saveCompanyCode"/>
    <dw:transform-message doc:name="Transform Message">
      <dw:set-variable variableName="input"><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-variable>
    </dw:transform-message>
    <flow-ref name="EXTRACT-CUSTOMER-MONGODB" doc:name="EXTRACT-CUSTOMER-MONGODB"/>
    <foreach collection="#[flowVars.customerDetails.ultiproApiDetails.autoSyncUltiProCustomFields]" doc:name="For Each">
      <choice doc:name="Choice">
        <when expression="#[payload == 'jobs']">
          <flow-ref name="GET-ALL-JOBS" doc:name="GET-ALL-JOBS"/>
        </when>
        <when expression="#[payload == 'locations']">
          <flow-ref name="GET-ALL-LOCATIONS" doc:name="GET-ALL-LOCATIONS"/>
        </when>
        <when expression="#[payload == 'company-details']">
          <flow-ref name="GET-ALL-COMPANY-DETAILS" doc:name="GET-ALL-COMPANY-DETAILS"/>
        </when>
        <otherwise>
          <logger message="Custom field #[payload] is not available for sync in this integration" level="INFO" doc:name="Logger"/>
        </otherwise>
      </choice>
    </foreach>

    <foreach doc:name="For Each" collection="#[flowVars.customerDetails.ultiproApiDetails['user-profile-details_roleIds']]">
      <logger message="processing user-profile-details for each roleId #[payload]" level="INFO" doc:name="Logger"/>
      <flow-ref name="GET-ALL-USER-PROFILE-DETAILS" doc:name="GET-ALL-USER-PROFILE-DETAILS"/>
    </foreach>

    <foreach doc:name="For Each" collection="#[flowVars.customerDetails.ultiproApiDetails['code-tables']]">
      <logger message="processing code-tables for  #[payload]" level="INFO" doc:name="Logger"/>
      <flow-ref name="GET-CODE-TABLES" doc:name="GET-CODE-TABLES"/>
    </foreach>

    <catch-exception-strategy enableNotifications="false" logException="false" doc:name="Catch Exception Strategy">
      <logger message="#[exception.info.Element]  #[exception.message]" level="INFO" doc:name="Logger"/>
      <set-payload
        value="This is the ERROR that was encountered:#[java.lang.System.lineSeparator()]
Location: #[exception.info.Element] 
#[java.lang.System.lineSeparator()]
Exception:  #[exception.message]
#[java.lang.System.lineSeparator()]
#[java.lang.System.lineSeparator()]
ApplicationName: jobvite-standard-newhire-export"
        doc:name="Set Payload"/>
    </catch-exception-strategy>
  </flow>


</mule>
